@font-face {
  font-family: "OutfitBold";
  src: url("../../fonts/Outfit-Bold.ttf") format("opentype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "OutfitRegular";
  src: url("../../fonts/Outfit-Regular.ttf") format("opentype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "OutfitSemiBold";
  src: url("../../fonts/Outfit-SemiBold.ttf") format("opentype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "OutfitMedium";
  src: url("../../fonts/Outfit-Medium.ttf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

.status_section {
  color: #333;
  font-family: "OutfitRegular", Arial, sans-serif;
  font-size: 15px;
  line-height: 19px;
}

.page_title {
  color: #1d1d1f;
  font-family: "OutfitSemiBold", Arial, sans-serif;
  font-size: 40px;
  line-height: 50px;
  margin-top: 17px;
}

.budget_dasboard_detail_lable {
  color: #1d1d1f;
  font-family: "OutfitMedium", Arial, sans-serif;
  font-size: 18px;
  line-height: 23px;
}

.budget_dasboard_detail_used_value {
  color: #f7821b;
  font-family: "OutfitMedium", Arial, sans-serif;
  font-size: 40px;
  line-height: 50px;
}
.budget_dasboard_detail_used_value span {
  color: #f7821b;
  font-family: "OutfitMedium", Arial, sans-serif;
  font-size: 30px;
  line-height: 38px;
}

.vertical_line {
  border-right: 1px solid #aaa;
  height: 60px;
  margin-left: 35px;
  margin-right: 39px;
  margin-top: 6px;
}

.budget_dasboard_detail_allocated_value {
  color: #16ad78;
  font-family: "OutfitMedium", Arial, sans-serif;
  font-size: 30px;
  line-height: 38px;
}

.budget_dasboard_detail_budget_used_value {
  color: #0d57a4;
  font-family: "OutfitMedium", Arial, sans-serif;
  font-size: 30px;
  line-height: 38px;
}

.taeb_switch {
  position: relative;
  height: 35px;
}

.taeb_switch:after {
  content: "";
  position: absolute;
  width: 190px;
  top: 0;
  transition: left cubic-bezier(0.42, 0, 0.58, 1) 0.4s;
  background-color: #fffcf2;
  height: 100%;
  z-index: 0;
}

.skew:after,
.skew:before {
  position: absolute;
  display: block;
  height: 100%;
  content: "";
  width: 25px;
  background-color: #fffcf2;
  transition: left cubic-bezier(0.42, 0, 0.58, 1) 0.4s;
}

.skew:before {
  border-radius: 8px 0 0 0;
  transform: skew(-30deg, 0deg);
}

.skew:after {
  border-radius: 0 8px 0 0;
  transform: skew(30deg, 0deg);
}

.taeb_switch.left:after {
  left: 0;
  border-radius: 8px;
}

.taeb_switch.right:after {
  left: 46%;
}

.skew.left:after {
  left: 37%;
}

.skew.right:after {
  left: 83%;
}

.skew.left:before {
  left: 0%;
}

.skew.right:before {
  left: 43%;
}

.taeb_switch .taeb {
  display: inline-block;
  padding: 6px 20px 6px 30px;
  height: 35px;
  width: 190px;
  z-index: 1;
  position: relative;
  cursor: pointer;
  transition: color 200ms;
  font-size: 18px;
  color: #1d1d1f;
  line-height: 23px;
  font-family: "OutfitRegular", Arial, sans-serif;
}

.taeb.spend_down {
  padding-left: 60px;
  padding-right: 0;
}

.taeb_switch .taeb.active {
  color: #1d1d1f;
  font-family: "OutfitMedium", Arial, sans-serif;
}

.wrapper {
  border-radius: 18px;
  padding: 8px;
  width: 100%;
  max-width: 316px;
  margin-left: auto;
  margin-right: auto;
}
